.banner-swiper {
  width: 12.42rem;
  margin-bottom: 0;
}

.banner-swiper img {
  width: 100%;
}

.banner-swiper .banner-swiper_page {
  text-align: right;
  bottom: 0;
}

.banner-swiper .banner-swiper_page .swiper-pagination-bullet {
  border: 1px solid #CCCCCC;
  background: rgba(255, 255, 255, .7);
  opacity: 1;
}

.banner-swiper .banner-swiper_page .swiper-pagination-bullet-active {
  background: #a98e67;
}

/*nav*/

.nav-block {
  text-align: center;
  display: flex;
  display: -webkit-box;
  flex-direction: row;
  align-content: space-between;
  //margin-top: 0.65rem;
}

.nav-list {
  font-family: 'iconfont';
  color: #a98e67;
  font-size: 1.2rem;
  font-weight: 100;
}

.nav-block-list {
  display: block;
  width: 3.1rem;
}

.nav-list_name {
  font-size: .4rem;
  color: #a98e67;
}

//section title
.sectiontitle {
  margin: 0.71rem 0 0.37rem 0;
}

.sec-title {
  text-align: center;
  font-size: 0.6rem;
  color: $baseBlue;
  letter-spacing: 0.08rem;
}

.recommendpic {
  width: 3.03rem;
  height: 3.03rem;
  margin: 0 1.75rem 0 1.4rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.sec-cont {
  width: 12.4rem;
  &.sec-recommend-cont{
    padding-bottom: .4rem;
  }

  .sec-cont-inner {
    //border-top: $singlepx solid #ddd;
    padding-top: 0.37rem;
  }
}

.recommendinfo {
  padding-top: 0.2rem;
  ul {
    li {
      line-height: 0.9rem;
    }
  }
  .booktitle {
    font-size: 0.5rem;
    color: $baseBlue;
  }
  .bookinfo {
    font-size: 0.4rem;
    color: $info;
  }

}

.seemore {
  font-size: .4rem;
  color: $baseGold;
  text-align: center;
  display: block;
}

//new book
.sec-cont-rows {
  width: 100%;
  overflow: hidden;
  display: flex;
  display: -webkit-box;
  flex-direction: row;
  align-content: space-between;
  .bookletwrapper {
    margin-left: -.2rem;
  }
  .booklet {
    float: left;
    width: 33.33%;
    padding-left: .1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  img {
    width: 100%;
  }
  .bookinfo_bottom {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.3rem 0 0.3rem;
    &.bookinfo_bottom__title{
      font-size: 0.5rem;
      line-height: .7rem;
      height: .7rem;
    }
    &.bookinfo_bottom__info{
      font-size: .4rem;
      line-height: .6rem;
      height: .6rem;
    }
  }

}

//active
.acimg {
  width: 100%;
  position: relative;
  .imgmsk {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    top: 0;
  }
  img {
    width: 100%;
  }
  .countblock {
    color: #FFF;
    padding: 0 .3rem;
    position: absolute;
    height: 1rem;
    width: 7.8rem;
    font-size: .6rem;
    line-height: 1rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .enterpage {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.3rem;
    font-size: .5rem;
    color: #FFF;
    border: .7px solid #fff;
    background: transparent;
    margin: auto;
    width: 3rem;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
  }

  //animation
  .catmove {
    position: absolute;
    top: -2.15rem;
    left: -2rem;
    animation: catwalk 10s ease infinite alternate;
    -webkit-animation: catwalk 10s ease infinite alternate;

  }

  .catjump {
    background: url("../../images/miao.png") no-repeat;
    width: 1.19rem;
    height: 2.15rem;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    @include bz(1.19rem, 17.18rem);
    animation: catjump 1s steps(8) infinite;
    -webkit-animation: catjump 1s steps(8) infinite;
  }

  .reversecat {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
}

@keyframes catjump {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0rem -17.18rem;
  }
}

;
@-webkit-keyframes catjump {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0rem -17.18rem;
  }
}

;

@keyframes catwalk {
  0% {
    left: -2rem;
  }
  100% {
    left: 12.42rem;
  }
}

@keyframes catwalk {
  from {
    left: -2rem;
  }
  to {
    left: 12.42rem;
  }
}

//two columns display
.col-two {
  display: flex;
  display: -webkit-box;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  .innercol {
    width: 50%;
    &.lecture_text {
      background: #f8f8f8;
      position: relative;
      padding: 2rem .4rem .3rem .5rem;
    }
    .lecture_text-inner {
      height: 2rem;
      .lecture_title {
        font-size: .7rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .lecture_cont {
        font-size: .4rem;
        color: #afaba1;
      }
    }

  }

}
.col-two{
  &.aboutopublish{
    margin-left: -.1rem;
    .innercol{
      padding-left: .1rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .publist{
        position: relative;
      }
      .publistblock{
        background: rgb(66, 74, 85);
      }
      .publistinfo{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        &.publist_time{
          border-top: 2px solid $baseGold;
          padding: .2rem 0;
          background: rgba(35, 47, 63, 0.4);
          color:#FFF;
          font-size: .4rem;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        &.publist_title{
          font-size: .5rem;
          height: 1rem;
          line-height: 1rem;
          color:#FFF;
        }
        &.publist_info{
          font-size: .4rem;
          color: #FFF;

        }
      }
    }

  }
}
